.header-wraper{
    position: relative;
    background-color: #fff;
    /* background-image: url(/src/Images/bgideas3.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0rem 5rem;
}

.typed-css {
    font-size: 3rem;
    display : inline-block;
    font-weight: 600;
}
.hand{
    width: 2.2rem;
}
.orange{
    color: #F48C51;
}

.socialmedialinks{
    margin: 2rem 0rem;
}

.downloadcv{
    border: 1px solid #1e1e1e !important;
    text-transform: uppercase;
    border-radius: 0%;
    padding: 0.5rem;
    color: #1e1e1e !important;
    font-size: 0.8rem;
    margin-top: 2rem;
    z-index: 3;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    font-weight: 600;
    line-height: 21px;
    height: 42px;
  }
  .downloadcv:hover{
    background-color: #DD485C !important;
    border: 1px solid #DD485C !important;
    color: #ffff !important;
  
  }
.desc{
    font-weight: 700;
    line-height: 2rem;
}
.ul-css {
    white-space: nowrap;
    height: 1em;
    width: 100%;
    padding-left: 0px;
}

.ul-css li {
    display: inline;
    padding: 10px 25px 10px 0px;
    font-weight: 600;

}
/* .ul-css li a{
    color: #0044cc;
} */
.linksocial {
    text-transform: none !important;
}

.linksocial a{
    cursor: pointer;
    z-index: 4;
    font-size: 22px;
    color: #1e1e1e;
    text-decoration: none;
  }
  .linksocial a:hover{
    border-bottom: 3px solid #DD485C; 
    cursor: pointer;
    z-index: 4;
    font-size: 22px;
    color: #1e1e1e;
    text-decoration: none;
  }

  .intro-paragragh{
    max-width: 800px;
  }