.nav a .nav-link {
  letter-spacing: 0.03rem;
  cursor: pointer;
}


nav ul li {
  text-transform: uppercase;
}


.navbar {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
  backdrop-filter: blur(10px);
  background-color: rgba(211, 211, 211, .34);
}


.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: black !important;
  font-size: 1em;
  font-weight: 500;
}


.menuitem ul li a {
  font-weight: 700;
}


.award-banner {
  padding: 10px;
  background-color: black;
  text-align: center;
}


.award-banner a {
  color: lightgray;
  text-decoration: none;
  font-weight: 500;
  transition: all 1s;
}


.award-banner a:hover {
  color: pink;
  font-size: 1.1em;
}

.nav-animation {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.abcd img {
  width: 30px;
  margin-right: 10px;
}

.abcd {
  display: flex;
  padding: 10px;
  font-size: 1.25em;
  font-weight: 600;
  animation: 2s anim-lineUp ease-out;
  color: black;
  text-decoration: none;
}