
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200;1,300&display=swap');
.app{
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
  background-color: #131414;
}
.app::-webkit-scrollbar {
  display: none;
}
body{
  font-family: "Josefin Sans",sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: "Josefin Sans",sans-serif;
}

.menuitem{
  justify-content: flex-end;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 2em;
  z-index: 1;
}
.vertical-center {
  margin-left: 4rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.typed-text{
  font-size: 5rem;
  color: #1e1e1e;
  font-family: 'Vidaloka', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 121px;
}
.starttext{
  color: #AFAFAF;
  font-family: 'Roboto Condensed', sans-serif;
}
.endtext{
  color: #1e1e1e;
  font-size: 2.7em;
  font-weight: 300;
  margin-top: 2em;
  line-height: 38px;
  font-family: 'Mulish', sans-serif;
}
.dark-theme{
  background-color: #D9D4DB !important;
  z-index: 2;
}


.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}